@model OfficeMVCViewModel
@{
    ViewData["Title"] = "OfficeCreate";
}

<div class="page-inner">
    <div class="page-header">
        <h3 class="fw-bold mb-3">Create Office</h3>
        <ul class="breadcrumbs mb-3">
            <li class="nav-home">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="CommonView" asp-action="Office">Office List</a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">Create Office</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <form asp-action="OfficeCreate">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Fiscal Year</div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Id" class="form-control" type="hidden" />
                            <div class="col-md-6 col-lg-3 p-0">
                                <div class="form-group">
                                    <label asp-for="Name"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-md-6 col-lg-3 p-0">
                                <div class="form-group">
                                    <label asp-for="Name_En"></label>
                                    <input asp-for="Name_En" class="form-control" />
                                    <span asp-validation-for="Name_En" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 p-0">
                                <div class="form-group">
                                    <label asp-for="Code"></label>
                                    <input asp-for="Code" class="form-control" />
                                    <span asp-validation-for="Code" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-md-6 col-lg-3 p-0">
                                <div class="form-group">
                                    <label asp-for="Address"></label>
                                    <input asp-for="Address" class="form-control" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 p-0">
                                <div class="form-group">
                                    <label asp-for="PhoneNo"></label>
                                    <input asp-for="PhoneNo" class="form-control" />
                                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-3 p-0">
                                <div class="form-group">
                                    <label asp-for="FaxNo"></label>
                                    <input asp-for="FaxNo" class="form-control" />
                                    <span asp-validation-for="FaxNo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 p-0">
                                <div class="form-group">
                                    <label asp-for="Url"></label>
                                    <input asp-for="Url" class="form-control" />
                                    <span asp-validation-for="Url" class="text-danger"></span>
                                </div>
                            </div>
                           
                            <div class="col-md-6 col-lg-3 p-0">
                                <div class="form-group">
                                    <label asp-for="StateId"></label>
                                    <select asp-for="StateId" asp-items="await _Utility.GetStateSelectListItems()" class="form-select form-control">
                                        <option>--Select--</option>
                                    </select>
                                    <span asp-validation-for="StateId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 p-0">
                                <div class="form-group">
                                    <label asp-for="DistrictId"></label>
                                    <select asp-for="DistrictId" asp-items="await _Utility.GetDistrictSelectListItems(Model.StateId)" class="form-select form-control">
                                        <option>--Select--</option>
                                    </select>
                                    <span asp-validation-for="DistrictId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 p-0">
                                <div class="form-group">
                                    <label asp-for="PalikaId"></label>
                                    <select asp-for="PalikaId" asp-items="await _Utility.GetPalikaSelectListItems(Model.DistrictId)" class="form-select form-control">
                                        <option>--Select--</option>
                                    </select>
                                    <span asp-validation-for="PalikaId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button class="btn btn-success">Submit</button>
                        <button class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $('#StateId').change(function () {
            $.ajax({
                url: '@Url.Action("GetDistrictByStateId", "AjaxMVC", new { area = "" })',
                type: 'GET',
                data: { id: $(this).val() },
                success: function (data) {
                    $('#DistrictId').empty().append("<option value=''>-Please Select District-</option>");
                    $.each(data, function (index, item) {
                        $('#DistrictId').append(`<option value="${item.value}">${item.text}</option>`);
                    });
                    $('#PalikaId').empty().append("<option value=''>-Please Select Palika-</option>");
                },
                error: function () {
                    alert('error in calling ajax !!');
                }
            });
        });


        $('#DistrictId').change(function () {
            $.ajax({
                url: '@Url.Action("GetPalikaByDistId", "AjaxMVC", new { area = "" })',
                type: 'GET',
                data: { id: $(this).val() },
                success: function (data) {
                    $('#PalikaId').empty().append("<option value=''>-Please Select Palika-</option>");
                    $.each(data, function (index, item) {
                        $('#PalikaId').append(`<option value="${item.value}">${item.text}</option>`);
                    });
                },
                error: function () {
                    alert('error in calling ajax !!');
                }
            });
        });
    </script>
}
