<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href="/assets/img/kaiadmin/favicon.png" type="image/x-icon" />
<title>@ViewData["Title"] - AgricultureView</title>

<!-- CSS Files -->
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/assets/css/plugins.min.css" rel="stylesheet" />
<link href="~/assets/css/demo.css" rel="stylesheet" />
<link href="~/assets/css/fonts.min.css" rel="stylesheet" />
<link href="~/assets/css/kaiadmin.min.css" rel="stylesheet" />
<link href="~/lib/nepali.datepicker.v3.7/css/nepali.datepicker.v3.7.min.css" rel="stylesheet" />
<link href="~/lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
<link href="~/select2/css/select2.min.css" rel="stylesheet" />