@model OtherSubsidyViewModel
@{
    ViewData["Title"] = "CreateOtherSubsidy";
}

<div class="page-inner">
    <div class="page-header">
        <h3 class="fw-bold mb-3">अनुदान थप्नुहोस</h3>
        <ul class="breadcrumbs mb-3">
            <li class="nav-home">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="OtherSubsidyView" asp-action="OtherSubsidy">OtherSubsidy List</a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">Create OtherSubsidy</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <form asp-action="CreateOtherSubsidy">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">अनुदान </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Id" class="form-control" type="hidden" />
                            <div class="col-md-6 col-lg-3 p-0">
                                <div class="form-group">
                                    <label>शीर्षक</label>
                                   <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 p-0">
                                <div class="form-group">
                                    <label>सुरु मिति</label>
                                    <input asp-for="StartDate" class="form-control" />
                                    <input asp-for="StartDateEng" class="form-control" type="hidden" />
                                    <span asp-validation-for="StartDate" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-md-6 col-lg-3 p-0">
                                <div class="form-group">
                                    <label>अन्तिम मिति</label>
                                    <input asp-for="EndDate" class="form-control" />
                                    <input asp-for="EndDateEng" class="form-control" type="hidden" />
                                    <span asp-validation-for="EndDate" class="text-danger"></span>
                                </div>

                            </div>
                           </div>
                           <div class="row">
                            <div class="col-md-6 col-lg-12 p-0">
                                <div class="form-group">
                                    <label>विवरण </label>
                                    <textarea id="Description" name="Description">@Model.Description</textarea>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-3 p-0">
                                <div class="form-group">
                                    <label>द्वारा प्रदान गरिएको </label>
                                    <input asp-for="ProvidedBy" class="form-control" />
                                    <span asp-validation-for="ProvidedBy" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-md-12 col-sm-12 col-12 pt-5">
                                <div class="form-group">
                                    <button type="button" id="Partial" class="btn btn-add pull-right" style="background-color:green; color: #fff; padding: 7px 12px; margin-top: -36px; z-index: 99999;   margin-bottom: 5px;"><i class="fa fa-plus"> &nbsp; थप्नुहोस्</i></button>

                                    <div class="table-responsive">
                                        <table class="mb-0 table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>थप प्रश्न</th>
                                                    <th>कार्य</th>
                                                </tr>
                                            </thead>
                                            <tbody id="table-body-Partial">
                                                @if (Model.OtherSubsidyQnsViewModelList.Count > 0)
                                                {
                                                    foreach (var item in Model.OtherSubsidyQnsViewModelList)
                                                    {
                                                        <partial name="_OtherSubsidyQns.cshtml" model="@item" />
                                                    }
                                                }
                                                else
                                                {
                                                    <partial name="_OtherSubsidyQns.cshtml" model="@new OtherSubsidyQnsViewModel()" />
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button class="btn btn-success">Submit</button>
                        <button class="btn btn-danger">Cancel</button>
                    </div>
                </div>               
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        NepaliDatePickerCalWithAdDateWithDisableNextDate(document.getElementById('StartDate'), document.getElementById('StartDateEng'))
        NepaliDatePickerCalWithAdDateWithDisableNextDate(document.getElementById('EndDate'), document.getElementById('EndDateEng'))
    </script>  
    <script>
        $('#Partial').on('click', function () {
            $.ajax({
                url: '@Url.Action("OtherSubsidyQns", "SubsidyView")',
                success: function (result) {
                    if (result) {
                        $('#table-body-Partial').append(result);
                    }
                },
                error: function () {
                    alert('error in calling ajax !!')
                }
            });
        });
    </script>

    <script>
        function DeleteRow(e) {
            var confirmValue = confirm("Are you sure to delete ?");
            if (confirmValue) {
                $(e).closest('tr').remove();
            }
        }
    </script>
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script type="text/javascript">
        //s = jquery.noConflict();
        $(document).ready(function () {
            CKEDITOR.replace('Description');

        });

    </script>
}