@model SubCategoryViewModel
@{
    ViewData["Title"] = "CreateSubCategory";
}

<div class="page-inner">
    <div class="page-header">
        <h3 class="fw-bold mb-3">अनुदान उप श्रेणी थप्नुहोस</h3>
        <ul class="breadcrumbs mb-3">
            <li class="nav-home">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="SubsidyView" asp-action="SubCategory">SubCategory List</a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">Create SubCategory</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <form asp-action="CreateSubCategory">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">उप श्रेणी </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Id" class="form-control" type="hidden" />
                            <div class="col-md-6 col-lg-3 p-0">
                                <div class="form-group">
                                    <label>अनुदान श्रेणी</label>
                                    <select asp-for="CategoryId" asp-items="await _Utility.GetCategorySelectListItems()" class="form-select form-control">
                                        <option>--Select--</option>
                                    </select>
                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-md-6 col-lg-3 p-0">
                                <div class="form-group">
                                    <label>अनुदान इकाई</label>
                                    <select asp-for="CategoryUnitId" asp-items="await _Utility.GetMeasuringUnitSelectListItems()" class="form-select form-control">
                                        <option>--Select--</option>
                                    </select>
                                    <span asp-validation-for="CategoryUnitId" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-md-6 col-lg-3 p-0">
                                <div class="form-group">
                                    <label>उप जात</label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button class="btn btn-success">Submit</button>
                        <button class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
