@model FertilizerStoreProductionViewModel
@using HtmlHelpers.BeginCollectionItemCore

@{
    ViewData["Title"] = "_StorageProduction";
}

<tr class="newRow">
    @using (Html.BeginCollectionItem("FertilizerStoreProductionViewModelList"))
    {
        <td>
            <input asp-for="Id" type="hidden" />
            <input asp-for="FertilizerStoreId" type="hidden" />
            <select asp-for="TypeId" asp-items="await _Utility.GetAgriCalendarTypeSelectListItems()" onchange="UpdateType(this)" class="form-select form-control TypeId">
                <option>--Select--</option>
            </select>
            <span asp-validation-for="TypeId" class="text-danger"></span>
        </td>
        <td>
            <select asp-for="CategoryId" asp-items="await _Utility.GetAgriCalendarCategorySelectListItems(Model.TypeId)" onchange="UpdateCat(this)" class="form-select form-control StorCategoryId">
                <option>--Select--</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </td>
        <td>
            <select asp-for="ProductId" asp-items="await _Utility.GetAgriCalendarProductSelectListItems(Model.CategoryId)" class="form-select form-control ProductId">
                <option>--Select--</option>
            </select>
            <span asp-validation-for="ProductId" class="text-danger"></span>
        </td>
        <td>
            <button type="button" onclick="DeleteRow(this)" class="row-button btn btn-sm btn-danger btn-delete"><i class="fa fa-minus"></i></button>
        </td>
    }
</tr>