@model AgricultureEquipmentViewModel
@{
    ViewData["Title"] = "CreateAgricultureEquipment";
}

<div class="page-inner">
    <div class="page-header">
        @* <h3 class="fw-bold mb-3">Create Farmer Group</h3> *@
        <ul class="breadcrumbs mb-3">
            <li class="nav-home">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a asp-area="Admin" asp-controller="StoresCenterView" asp-action="AgricultureEquipment">कृषि औजार पसल</a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="#">कृषि औजार पसल थप्नुहोस</a>
            </li>
        </ul>
    </div>
    <div class="row">
        @* <form asp-action="CreateAgricultureEquipment" enctype="multipart/form-data"> *@
        <form asp-action="CreateAgricultureEquipment">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">कृषि औजार पसल थप्नुहोस</div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Id" class="form-control" type="hidden" />

                            <div class="col-md-6 col-lg-3 p-0">
                                <div class="form-group">
                                    <label>नाम </label>
                                    <input asp-for="Name" class="form-control NepaliDate" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 p-0">
                                <div class="form-group">
                                    <label>इमेल </label>
                                    <input asp-for="Email" type="email" class="form-control NepaliDate" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 p-0">
                                <div class="form-group">
                                    <label>फोन नम्बर </label>
                                    <input asp-for="PhoneNo" class="form-control" />
                                    <span asp-validation-for="PhoneNo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 p-0">
                                <div class="form-group">
                                    <label>ठेगाना  </label>
                                    <input asp-for="Address" class="form-control" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>
                        </div>


                        <button class="btn btn-success">Submit</button>
                        <button class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>