@using HtmlHelpers.BeginCollectionItemCore
@model MarketPriceDetailsViewModel
@{
    ViewData["Title"] = "_MarketPriceDetails";
}

<tr class="new">
    @using (Html.BeginCollectionItem("MarketPriceDetailsViewModelList"))
    {
        <td>
            <input asp-for="Id" type="hidden" />
            <input asp-for="MarketPriceId" type="hidden" />
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </td>
        <td>
            <input asp-for="RetailPrice" class="form-control" />
            <span asp-validation-for="RetailPrice" class="text-danger"></span>
        </td>
        <td>
            <input asp-for="WholesalePrice" class="form-control" />
            <span asp-validation-for="WholesalePrice" class="text-danger"></span>
        </td>
        <td>
            <input asp-for="AveragePrice" class="form-control" />
            <span asp-validation-for="AveragePrice" class="text-danger"></span>
        </td>
        <td>
            <button type="button" onclick="DeleteRow(this)" class="row-button btn btn-sm btn-danger btn-delete"><i class="fa fa-minus"></i></button>
        </td>
    }
</tr>