@using HtmlHelpers.BeginCollectionItemCore
@model AgriFarmMoreThanOneLocalLevelViewModel
@{
    ViewData["Title"] = "_AgriFarmMoreThanOne";
}

<tr class="new">
    @using (Html.BeginCollectionItem("AgriFarmMoreThanOneLocalLevelViewModelList"))
    {
        <td>
            <input asp-for="Id" type="hidden" />
            <input asp-for="FieldDetailsId" type="hidden" />

            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </td>
        <td>
            <input asp-for="Area" class="form-control" />
            <span asp-validation-for="Area" class="text-danger"></span>
        </td>

        <td>
            <input asp-for="IsIrrigationAvailiable" type="checkbox" class="form-check-input" />
        </td>
        <td>
            <select asp-for="SectorId" asp-items="await _Utility.GetAgriSectorSelectListItems()" class="form-select form-control">
                <option>--Select--</option>
            </select>
            <span asp-validation-for="SectorId" class="text-danger"></span>
        </td>
        <td>
            <input asp-for="SubSector" class=" form-control" />
            <span asp-validation-for="SubSector" class="text-danger"></span>
        </td>
        <td>
            <select asp-for="OwnershipId" asp-items="await _Utility.GetOwnershipSelectListItems()" class="form-select form-control">
                <option>--Select--</option>
            </select>
            <span asp-validation-for="OwnershipId" class="text-danger"></span>
        </td>
        <td>
            <input asp-for="DetailOfLandOwner" class=" form-control" />
            <span asp-validation-for="DetailOfLandOwner" class="text-danger"></span>
        </td>
        <td>
            <button type="button" onclick="DeleteRow(this)" class="row-button btn btn-sm btn-danger btn-delete"><i class="fa fa-minus"></i></button>
        </td>
    }
</tr>