@using HtmlHelpers.BeginCollectionItemCore
@model KrishiSanrachanaInfromationViewModel
@{
    ViewData["Title"] = "_KrishiSanrachana";
}

<tr class="new">
    @using (Html.BeginCollectionItem("KrishiSanrachanaInfromationViewModelList"))
    {
        <td>
            <input asp-for="Id" type="hidden" />
            <input asp-for="AnimalHusbandryId" type="hidden" />
            <input asp-for="SanrachanaType" class="form-control" />
            <span asp-validation-for="SanrachanaType" class="text-danger"></span>
        </td>
        <td>
            <input asp-for="ToalCount" class="form-control" />
            <span asp-validation-for="ToalCount" class="text-danger"></span>
        </td>
        <td>
            <input asp-for="Area" class="form-control" />
            <span asp-validation-for="Area" class="text-danger"></span>
        </td>
        <td>
            <button type="button" onclick="DeleteRow(this)" class="row-button btn btn-sm btn-danger btn-delete"><i class="fa fa-minus"></i></button>
        </td>
    }
</tr>